@using ComputerPartsCatalog.Common
@model ComputerPartsCatalog.Web.ViewModels.Products.ProductsListViewModel
@{
    this.ViewData["Title"] = "All Products";
}

<h1 class="text-warning">@this.ViewData["Title"]</h1>

<hr />
<partial name="_PagingPartial" model="@Model">
<hr />
    <div class="row">
        @foreach (var product in this.Model.Products)
        {
            <div class="card col-md-4">
                <div class="card-header">
                    <img class="card-img" width="100" src="@product.ImageUrl" alt="...">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-2">@product.Name</h4>
                    <hr />
                    <h5 class="card-title mt-2">@product.Price</h5>
                </div>
                <div class="card-footer">
                    <a href="#a" class="btn btn-warning">Details</a>
                </div>
            </div>
        }
    </div>

    <hr />
    <partial name="_PagingPartial" model="@Model">

