@model ComputerPartsCatalog.Web.ViewModels.Products.ProductDetailsViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<div class="card">
    <div class="row">
        <aside class="col-md-6">
            <article class="gallery-wrap">
                <div class="img-wrap">
                    <img class="img-fluid w-100" src="@Model.ImageUrl" alt="@Model.Name">
                </div> <!-- img-wrap.// -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
            <article class="content-body">
                <h2 class="title">@Model.Name</h2>
                <hr />
                <div class="rating-wrap my-3">
                    <span class="fa fa-star" data-vote="1"></span>
                    <span class="fa fa-star" data-vote="2"></span>
                    <span class="fa fa-star" data-vote="3"></span>
                    <span class="fa fa-star" data-vote="4"></span>
                    <span class="fa fa-star" data-vote="5"></span>
                    <span id="averageRatingValue">@Model.AverageRating.ToString("0.0")</span><span> / 5</span>
                </div>  <!--rating-wrap.-->
                <hr />
                <div class="mb-3">
                    <var class="price h4">Price: @Model.Price$</var>
                </div>
                <hr />
                <!-- description --> <!-- Model.Description -->
                <p>@Model.Description</p>
                <hr />
                <h5>Technical Description:</h5>
                <dl class="row">
                    @foreach (var feature in Model.ProductFeatures)
                    {
                        <dt class="col-md-6">@feature.FeatureName:</dt>
                        <dd class="col-md-6">@feature.FeatureType</dd>
                    }
                </dl>
                <hr>
                <!-- add to cart button -->
                <div class="form-group text-center">
                    <a href="#" class="btn  btn-outline-warning"> <span class="text-dark">Add to cart</span> <i class="fas fa-shopping-cart"></i> </a>
                </div>
            </article>
        </main> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("span[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var productId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { productId: productId, value: value };

                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageRatingValue').html(data.averageRating.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>>
}
